<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTraq App</title>
<meta name="description" content="Medication tracking web application">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="MedTraq App">
<meta itemprop="description" content="Medication tracking web application">
<meta itemprop="image" content="https://i.ibb.co/0jL5HSD/Screenshot-2023-08-30-234428.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://medtraq-app.onrender.com">
<meta property="og:type" content="website">
<meta property="og:title" content="MedTraq App">
<meta property="og:description" content="Medication tracking web application">
<meta property="og:image" content="https://i.ibb.co/0jL5HSD/Screenshot-2023-08-30-234428.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="MedTraq App">
<meta name="twitter:description" content="Medication tracking web application">
<meta name="twitter:image" content="https://i.ibb.co/0jL5HSD/Screenshot-2023-08-30-234428.png">

<!-- Meta Tags Generated via http://heymeta.com -->
    <title>Meditrakk</title>
    <!-- Core theme TailwindCSS-->
  <link rel="stylesheet" href="/css/output.css">
  <!-- Core theme CSS-->
  <link rel="stylesheet" href="/css/styles.css">
</head>