<nav class="flex-col bg-slate-900 sm:flex-row flex wrap md:item-center fixed top-0 z-20 w-full px-4 md:px-5 lg:px-16 py-2 justify-between">


    <div class="flex justify-between sm:justify-around gap-x-2 text-white item-center">

      <!-- Link To Direct to Home Page -->
      <!-- This can be a logo or a simple text (or both). Just write it in-between the anchor tag below-->
      <a href="#!" class="text-2xl py-1 flex item-center text-slate-400 hover:text-green-300">
        Med<span class="text-green-400 hover:text-slate-300">traq</span> 
      </a>


      <!-- Hamburger -->
      <button class="sm:hidden cursor-pointer flex flex-col justify-center gap-y-1" id="hamburger" aria-label="menu">
        <div class="w-6 h-1 bar bg-white rounded-lg duration-500 "></div>
        <div class="w-6 h-1 bar bg-white rounded-lg duration-500 "></div>
        <div class="w-6 h-1 bar bg-white rounded-lg duration-500 "></div>
      </button>
    </div>


    <ul class=" hidden sm:flex justify-end text-gray-400 justify-end items-center gap-x-7 gap-y-5 mt-5 sm:mt-0 "
      id="links">
      <li class="">
        <a href="/" class=" hover:text-green-300">Home</a>
      </li>
      <li class="">
        <a href="/dashboard" class="hover:text-green-300">My Dashboard</a>
      </li>
      <li class="">
        <a href="/pills/form" class="hover:text-green-300">Form</a>
      </li>

    </ul>

  </nav>
