<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditrakk Form</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Pills</h1>
   

   
    <form action="/pills/createPill" method='POST'>
        <label for="name"> Name:</label>
        <input type="text" placeholder="Enter Medication" name='name'>
        <label for="Dosage"> Dosage:</label>
        <input type="text" name="dosage" placeholder="Dosage">
        <label for="frequency">Frequency:</label>
        <input type="text" placeholder="Frequency" name="frequency">
        <label for="number">Number of pills:</label>
        <input type="text" placeholder="Number of Pills" name="number">
        <label for="total">Total pills:</label>
        <input type="text" placeholder="Total Pills" name="total">
        <label for="ailment">Ailment:</label>
        <input type="text" placeholder="Ailment" name="ailment">
        <label for="start">Start Date:</label>
        <input type="date" name="start">
        <label for="end">End Date:</label>
        <input type="date" name="end">
        
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>