
<%- include ('partials/_head') %> 
<%- include ('partials/_nav') %>
<div class="w-3/5 h mt-8 mx-auto rounded-lg shadow-lg">
    <h1 class="text-3xl capitalize mb-5">Add Your Pill Details</h1>
    <form action="/pills/createPill" method='POST'>
        <label for="name" class="block text-gray-700 text-0.5xl font-bold mb-2 ml-10"> Name:</label>
        <input type="text" placeholder="Enter Medication" name='name' class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ml-10">
        <label for="Dosage" class="block text-gray-700 text-0.5xl font-bold mb-2 ml-10"> Dosage:</label>
        <input type="text" name="dosage" placeholder="Dosage" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ml-10">
        <label for="frequency"  class="block text-gray-700 text-0.5xl font-bold mb-2 ml-10">Frequency:</label>
        <input type="text" placeholder="Frequency" name="frequency" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ml-10">
        <label for="number" class="block text-gray-700 text-0.5xl font-bold mb-2 ml-10">Number of pills:</label>
        <input type="text" placeholder="Number of Pills" name="number" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ml-10">
        <label for="total" class="block text-gray-700 text-0.5xl font-bold mb-2 ml-10">Total pills:</label>
        <input type="text" placeholder="Total Pills" name="total" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ml-10">
        <label for="ailment" class="block text-gray-700 text-0.5xl font-bold mb-2 ml-10">Ailment:</label>
        <input type="text" placeholder="Ailment" name="ailment" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ml-10">
        <label for="start" class="block text-gray-700 text-0.5xl font-bold mb-2 ml-10">Start Date:</label>
        <input type="date" name="start" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ml-10">
        <label for="end" class="block text-gray-700 text-0.5xl font-bold mb-2 ml-10">End Date:</label>
        <input type="date" name="end" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ml-10">
        
        <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline block mt-4 ml-10">
    </form>
</div>
    

    <script src="js/main.js"></script>
