<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditrakk</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Pills</h1>
    <ul>
    <% pills.forEach( el => { %>
        <li class='todoItem' data-id='<%=el._id%>'>
            <span><%= el.pills %></span>
            <span class='del'> Delete </span>
        </li>
    <% }) %>    
    </ul>

   
    <!-- <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form> -->

    <script src="js/main.js"></script>
</body>
</html>