<!DOCTYPE html>
<html lang="en">
<%- include ('partials/_head') %> 
<%- include ('partials/_nav') %>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <h1>Signup</h1>
    <div class=" w-full lg:w-2/6 mt-8 mx-auto rounded-lg shadow-lg pb-6">
    <form action="/signup" method="POST" class="flex flex-col items-center h-96 py-2">
        <input type="text" name="userName" placeholder="User Name" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-6  block mb-7">
        <input type="email" name="email" placeholder="Email"  class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline  block mb-7">
        <input type="password" name="password" placeholder="Password" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline block mb-7">
        <input type="password" name="confirmPassword" placeholder="Confirm Password" class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline  block mb-7">
        <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline block mt-2  mb-7">
    </form>
</div>
</body>
</html>