<%- include ('../partials/_head') %>
<%- include ('../partials/_nav') %>

<h2>404 not found</h2>
<p>We're sorry. Something went wrong</p>
<!-- Error message displayed when something can not be found like a route -->
<a href="/dashboard" class="btn">Dashboard</a>