<%- include ('../partials/_head') %>
<!-- partial for the head and the navigation bar -->
<%- include ('../partials/_nav') %>

<div>
    <h2>Internal Server error</h2>
    <p>Cant find what you're looking for. Please go back to the dashboard</p>
<!-- error that occurs when there is a problem processing a request   -->
    <a href="/dashboard" class="btn">Go to Dashboard</a>
</div>
